#first-fold{
	width:100%;
	height:580px;
	}

#second-fold{
	width:100%;
	height:650px;
}
#third-third{
	width:100%;
	height:650px;
	}
img {
	width:100%;
	height:650px;
}
#first-fold img{
		width:100%;
		height:580px;	
}